DATABASE_URL="file:./db.sqlite"

APP_URL="https://invoicerr.chevrier.dev" # Change this to your production URL

SMTP_HOST="smtp-relay.brevo.com" # Change this to your SMTP host
SMTP_USER="XXXXX@smtp-brevo.com" # Change this to your SMTP user
SMTP_FROM="me@host.com" # Change this to your email address (not required if SMTP_USER is the same)
SMTP_PASSWORD="XXXXX" # Change this to your SMTP password